Scrapy==2.4.1
pandas==1.2.2
imageio==2.9.0
scikit_image==0.18.1
scipy==1.6.0
webcolors==1.11.1
tqdm==4.56.2
opencv_python==4.5.1.48
numpy==1.20.1
colormath==3.0.0
matplotlib==3.3.4
scikit_learn==0.24.1
skimage==0.0
